{% extends "www_slcschools_org/contentsideright.html" %}

{% block title %}
  {{page.title}}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block sidebar_first %}
  <p>Side First</p>
{% endblock %}
{% block sidebar_second_mup %}
  <p>Side Second Medium</p>
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-content">
    <h1 class="outofview">Salt Lake City School District Home Page</h1>
    <div class="row z-depth-1 districtnews">
      <div class="row">
        <div class="col s12 m4 l3 xl2 article-thumb" >
          <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="//www1.slcschools.org/sites/default/files/default_images/Cunningham350.jpg" width="350" height="350" alt="front of East High School" typeof="foaf:Image" class="img-responsive">
        </div>
        <div class="col s12 m8 l9 xl10">
          <span class="news-title">Superintendent's Message</span>
          <span class="postedon">Posted: Tue, 08-08-2017 - 08:15 PM</span>
          <p>In the early morning hours on July 26, a record-setting storm made its way across Salt Lake City. More than two inches of rain fell in less than an hour, causing damage at three of our schools: Emerson Elementary, Highland High School, and East High School.</p>
        </div>
        <a href="/news/article.php?article=658" class="btn-flat right" hreflang="en"><span class="sr-only">Read more about Superintendent's Message</span><span aria-hidden="true">Read More</span></a>
      </div>
      {% for article in news %}
      <div class="row">
        <div class="col s12 m4 l3 xl2 article-thumb" >
          <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{% if article.news_newsthumbimage_news %}{{ article.news_newsthumbimage_news.image }}{% else %}/defaults/news/images/placeholder.png{% endif %}" width="350" height="350" alt="{% if article.news_newsthumbimage_news %}{{ article.news_newsthumbimage_news.alttext }}{% else %}Salt Lake City School District Apple{% endif %}" typeof="foaf:Image" class="img-responsive">
        </div>
        <div class="col s12 m8 l9 xl10">
          <span class="news-title">{{ article.title }}</span>
          <span class="postedon">Posted: {{ article.author_date|date:"D. m-d-Y - h:i A" }}</span>
          {{ article.summary|truncatechars_html:400|safe }}
        </div>
        <a href="{{ article.url }}" class="btn-flat right" hreflang="en"><span class="sr-only">Read more about {{ article.title }}</span><span aria-hidden="true">Read More</span></a>
      </div>
     {% endfor %}
     <a href="/news/{{ currentyear.long }}/" class="btn-large btn-stretch">Full News Archive</a>
    </div>
  </div>
  {{ block.super }}
</div> 
{% endblock %}
{% block sidebar_second_s %}
  <p>Side Second Small</p>
{% endblock %}