{% extends "www_slcschools_org/contentrighttoc.html" %}
{% load static mptt_tags %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block precontent %}
{% endblock %}

{% block sidebar_first %}
<div class="row">
  <div class="table-of-contents">
    <h5>Contents:</h5>
    <ul>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <div class="input-field mobile-table-of-contents hide-on-med-and-up">
    <select class="browser-default z-depth-1">
      <option value="#!" disabled selected style="display:none;">Table of Contents</option>
      <option value="#departments">Departments ({{ departments|length }})</option>
    </select>
  </div>
  <div id="main" class="card-content">
    <h1>{{ page.title }}</h1>
    <div id="years" class="scrollspy">
        <div class="collection">
          {% for year in newsyears %}
          {% if year.get_children %}
          <a href="{{ year.url }}" title="School Year: {{ year.title }}" class="collection-item">School Year: {{ year.title }} <i class="material-icons right">&#xE916;</i></a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
  </div>
  <div class="card-action">
    <a class="btn-flat disabled narrow" title="Last Updated"><i class="material-icons left">&#xE192;</i>{{ page.update_date|date:"N d, Y" }}</a>
    <a href="#{{ page.uuid }}" class="btn-flat right narrow pagefeedback" title="Page Feedback"><i class="material-icons left">&#xE254;</i>Page Feedback</a>
  </div>
</div>
{% endblock %}

{% block sidebar_second_s %}
{% endblock %}

{% block pagescript %}
{{ block.super }}
<script>
function myFunction() {
  var input, filter, table, tbody, tr, td, i;
  input = document.getElementById("tableSearch");
  filter = input.value.toUpperCase();
  table = document.getElementById("searchTableBody");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
      if (tr[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }       
  }
}
</script>
{% endblock %}
