{% extends "www_slcschools_org/base.html" %}

{% block title %}
{% endblock %}

{% comment %}{% block breadcrumb %}
<div class="row">
  <nav class="slcschools-grey">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/" title="Home" class="breadcrumb">Home</a>
        {% for item in BREADCRUMB %}
        <a href="{{ item.url }}" title="{{ item.menu_title }}" class="breadcrumb">{{ item.menu_title }}</a>
        {% endfor %}
      </div>
    </div>
  </nav>
</div>
{% endblock %}{% endcomment %}

{% block main %}
<div class="content wrapper flex">
  <div class="row">
    <div class="col s12 m4 push-m8 l3 push-l9 righttoc hide-on-small-only">
      <div class="sidebar-first">
        {% block sidebar_first %}
        {% endblock %}
      </div>
    </div>
    <div class="col s12 m8 pull-m4 l9 pull-l3 main">
      {% block content %}
        {{ block.super }}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block pagescript %}
<script>
$(document).ready(function(){
    $('.sidebar-first').pushpin({
      top: $('.content.wrapper').offset().top,
      bottom: Infinity,
      offset: $('.authenticated.wrapper').height(),
    });
    $('.mobile-table-of-contents').pushpin({
      top: $('.content.wrapper .main').offset().top,
      bottom: Infinity,
      offset: $('.authenticated.wrapper').height(),
    });
    $(".mobile-table-of-contents select").change(function() {
      window.location = $(this).find("option:selected").val();
      $innerText = $(this).find("option:selected").prop('innerText')
      $(".mobile-table-of-contents select option[value='#!'").prop('innerText',$innerText);
      $(".mobile-table-of-contents select option[value='#!'").prop('selected','selected');
    });
  });
</script>
{% endblock %}
